<table id="example2" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th width="5%">NO</th>
            <th>Payment Type</th>
            <th>Banks</th>
            <th>Status</th>
            <th width="28%" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i = 0; i < payment.length; i++){ %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= payment[i].type %></td>
                <td>
                    <% payment[i].banks.forEach(bank => { %>
                        <span class="badge badge-primary">
                            <%= bank.name %> - <%= bank.bankName %> - <%= bank.accountNumber %>
                        </span>
                    <% }) %>
                </td>
                <td>
                    <% if(payment[i].status === 'Y'){ %>
                        <span class="badge badge-success">Active</span>
                    <% }else { %>
                        <span class="badge badge-danger">Deactive</span>
                    <%} %>
                </td>
                <td>
                    <form action="/payment/status/<%= payment[i]._id %>?_method=PUT" method="post" style="display: inline-block;">
                        <% if(payment[i].status === 'Y'){ %>
                            <button class="btn btn-danger btn-sm">
                                <i class="fa fa-times"></i> Deactive
                            </button>
                        <% }else { %>
                            <button class="btn btn-primary btn-sm">
                                <i class="fa fa-check"></i> Actived
                            </button>
                        <%} %>
                    </form>
                    <a href="/payment/edit/<%= payment[i]._id %>" class="btn btn-success btn-sm">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                    <form style="display: inline-block;" action="/payment/delete/<%= payment[i]._id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i> Delete
                        </button>
                    </form>
                </td>
            </tr>
        <% } %>
    </tbody>
    <tfoot>
        <tr>
            <th width="5%">NO</th>
            <th>Payment Type</th>
            <th>Banks</th>
            <th>Status</th>
            <th width="28%" class="text-center">Action</th>
        </tr>
    </tfoot>
</table>